<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DOMO-PROJECT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleIndex.css}"/>
</head>
<body>

<div id="container">

    <div id="main">
        <h1 th:text="#{index.title}"></h1>
        <br>
        <br>
        <h2 th:text="#{index.description}"></h2>
        <br>
        <br>
        <a href="/email">EMAIL WZRÓR</a>
        <br>
        <br>
    </div>

    <div id="footer">
        <p>Autor: Adam Wojak</p>
    </div>

</div>

</body>


</html>