<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DOMO-PROJECT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<div id="container">

    <div id="main">
        <h1 th:text="#{index.tytul}"></h1>
        <br>
        <br>
        <h2 th:text="#{index.opis}"></h2>
        <br>
        <br>

        <form th:action="@{/}" th:object="${dane}" method="post">
            <!--<h3>-->
                <!--<label th:text="#{index.wybierzWspolnote}"></label>-->
                <!--<select id="wspolnoty" name="wspolnoty">-->
                    <!--<option-->
                            <!--th:each="wspolnota: ${wspolnoty}"-->
                            <!--th:value="${wspolnota.id}"-->
                            <!--th:text="${wspolnota.id} + ' - ' + ${wspolnota.nazwa}"></option>-->
                <!--</select>-->
            <!--</h3>-->

            <h3>
                <label th:text="#{index.wybierzWspolnote}"></label>
                <select th:field="*{wspolnoty}">
                    <option
                            th:each="wspolnota: ${wspolnoty}"
                            th:value="${wspolnota.id}"
                            th:text="${wspolnota.id} + ' - ' + ${wspolnota.nazwa}"></option>
                </select>
            </h3>
            <h3>
                <label th:text="#{index.wybierzDzien}"></label>
                <select th:field="*{dni}">
                    <option
                            th:each="dzien : ${dni}"
                            th:value="${dzien}"
                            th:text="${dzien}"></option>
                </select>
                <label th:text="#{index.wybierzMiesiąc}"></label>
                <select th:field="*{miesiace}">
                    <option
                            th:each="miesiac : ${miesiace}"
                            th:value="${miesiac}"
                            th:text="${miesiac}">miesiac</option>
                </select>
                <label th:text="#{index.wybierzRok}"></label>
                <select th:field="*{lata}">
                    <option
                            th:each="rok : ${lata}"
                            th:value="${rok}"
                            th:text="${rok}"></option>
                </select>
            </h3>


            <div>
                <input type="submit" th:value="#{przycisk.wyslij}">
            </div>
        </form>
        <br>
        <br>
        <a href="/email">EMAIL WZRÓR</a>
        <br>
        <br>
    </div>

    <div id="footer">
        <p>Autor: Adam Wojak</p>
    </div>

</div>

</body>


</html>















<!--<h3>-->
    <!--<label th:text="#{index.wybierzWspolnote}"></label>-->
    <!--<select id="wspolnoty" name="wspolnoty">-->
        <!--<option-->
                <!--th:each="wspolnota: ${wspolnoty}"-->
                <!--th:value="${wspolnota.id}"-->
                <!--th:text="${wspolnota.id} + ' - ' + ${wspolnota.nazwa}"></option>-->
    <!--</select>-->
<!--</h3>-->